body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #F3F3F3;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

h1 {
    padding-top: 60px;
}

.wrapper {
    margin: 0;
    padding: 0;
}

/* 헤더 */
header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "nt mn mn sb . . . ";
    background-color: #141414;
    width: 100%;
    margin-bottom: 0px;
}

.netflix_logo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;

    padding-left: 30px;
    padding-top: 0px;
}

.netflix_logo img {
    height: 35px;
}

#netflix_logo {
    color: #E50914;
    margin: 0;
    padding: 0;
}


.main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
}

.main-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 5px;
}

.main-nav a:hover {
    color: #686868;
}

.sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
}

.sub-nav a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 5px;
}

.sub-nav a:hover {
    color: #686868;
}

/* 메인 컨테이너 */
.main-container {
    padding: 50px;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box a {
    transition: transform .4s;
}

.box a:hover {
    transition: transform .4s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.box img {
    border-radius: 4px;
}
